@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap'); 

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans','PT Sans';
    box-sizing: border-box;
}
.homepage{
    padding: 100px 100px;
    /* background: url("/abstract-background-illustration-watercolor-blue-green.jpg"); */
    margin-top: 100px;
    margin-bottom: 30px;
}
.refer_row{
    display: flex;
    justify-content:space-between;
}
.rf_col{
    padding: 20px;
}
.rf_col h3{
    font-size: 70px;
    background: -webkit-linear-gradient(45deg,#fa2424,#fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700; 
}
.rf_col h4{
    font-size:30px;
    background: -webkit-linear-gradient(45deg,#0a3fff,#6cff87b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin-bottom: 15px;

}
.rf_col h4 span{
    font-weight: 700;
    font-size: 35px;
    color: #080404;
}
.rf_col p{
    font-size: 16px;
    color: gray;
    padding-bottom: 10px;
    font-weight: 500;
}

form{
    margin-left: 10px;
    padding: 8px 15px;
    background: #ffffff;
    width: fit-content;
    box-shadow: 5px 5px 10px black;
    margin-top: 20px;
    
}
form input{
    border-radius: 5px;
    border-style: none;
    color: rgb(29, 29, 29);
    background-color: white;
    padding:10px 20px;
    outline: none;
}
.bttn{
    margin-left: 10px;
    background: #6d44b8;
    border-style: none;
    border-radius: 10px;
    padding: 12px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: transform 0.5s;

}
.bttn:hover{
    /* color: #ffffff; */
    background:linear-gradient(45deg,#fa2424,#fb8721);
    /* background: #6d44b8; */
    cursor: pointer;
    /* transform: scale(1.1); */
    transform:translateY(-5px);

}
.rf_col2 img{
    width: 700px;
}
/* ---------------how---------- */
.how{
    padding: 60px 100px;
    margin-bottom: 10px;
    /* background: url("/abstract-background-illustration-watercolor-blue-green.jpg"); */

}

.titale h2{
    background-image: -webkit-linear-gradient(45deg,#fa2424,#fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;

}
/* .titale h2 span{
    background: -webkit-linear-gradient(45deg,#3a65ff,#6cff87b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
.titale p{
    padding:0 200px ;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
    color: gray;
}

.content_list1{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.content_data1{
    box-shadow: 5px 5px 10px gray;
    flex-basis: 30%;
    /* border: 2px solid red; */
    padding: 50px 50px;
    /* background: white; */
}
.content_data2{
    box-shadow: 5px 5px 10px gray;
    flex-basis: 30%;
    /* border: 2px solid red; */
    padding: 50px 50px;
}
.content_data3{
    box-shadow: 5px 5px 10px gray;
    flex-basis: 30%;
    /* border: 2px solid red; */
    padding: 50px 50px;
}
.data_list i{
    padding:  10px 15px;
    /* border: 2px solid red; */
    border-radius: 20%;
    font-size: 25px;
    background: linear-gradient(45deg,#fa2424,#fb8721);
    color: white;

}
.data_list h3{
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(1, 1, 96);
    font-size: 25px;
}
.data_list p{
    color: gray;
}
.refer_buttom{
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}
.bttn2{
    /* margin-left: 10px; */
    background:linear-gradient(45deg,#fa2424,#fb8721);
    border-style: none;
    border-radius: 10px;
    padding: 15px 35px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: transform 0.5s;

}
.bttn2:hover{
    /* color: #ffffff; */
    background:linear-gradient(45deg,#fa2424,#fb8721);
    cursor: pointer;
    /* transform:; */
    transform: scale(1.1);
}
.arrow{
    padding-top: 105px;
}
.arrow i{
    /* border: 2px solid red ; */
    /* padding: 6px; */
    font-size: 35px;
    color: #6d44b8;
}

/* ------------------why------------ */
.why{
    padding: 50px 100px;
}
.why_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list1{
    flex-basis: 50%;
}
.list2{
    flex-basis: 40%;
}
.list2 img{
    margin-top: 30px;
    width: 450px;
    border-radius:30% 10% 30% ;
    box-shadow: 4px 4px 8px 2px rgba(96, 96, 96, 0.729);
}
.why_head{
    text-align: center;
    font-size: 18px;
    color: gray;
    padding: 0 20px 20px;
}
.why_head h3{
    background-image: -webkit-linear-gradient(45deg,#fa2424,#fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    padding-bottom: 10px;
}
.why_content_data{
    display: flex;
    margin-bottom: 20px;
}
.icons{
    margin-top: 27px;
}
.icons i{
    /* border: 2px solid red; */
    width: fit-content;
    font-size: 20px;
    border-radius: 30%;
    box-shadow: 1px 1px 12px 4px rgb(211, 207, 207);
    padding: 10px;
    color: #fa2424;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.why_content_data_list {
    font-size: 16px;
    color: gray;
    padding: 10px;
}
.why_content_data_list h3{
    color: rgb(1, 1, 96);
    padding-bottom: 10px;
    font-size: 20px;
    /* font-weight: 700; */
}
/* -----------faq------------- */
.faq{
    margin-top: 50px;
    padding: 10px 100px;
}
.header{
    text-align: center;
    color: gray;
    font-size: 20px;
}
.header h3{
    background-image: -webkit-linear-gradient(45deg,#fa2424,#fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    padding-bottom: 15px;
}
.faq_questions{
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
.all_questions{
    color: rgb(91, 91, 91);
    font-size: 18px;
    margin: 30px 200px;
    padding-bottom: 50px;
    display: flex;
    padding-left: 40px;
    justify-content: space-evenly;
}
.testing{
    flex-basis: 70%;
}
.faq_icon{
    flex-basis: 20%;
}
.all_questions h5{
    font-size: 25px;
    padding-bottom: 15px;
    color: rgb(2, 2, 72);
}

.faq_icon i{
    font-size: 50px;
}
.faq_close .testing p{
    overflow: hidden;
}
.faq_open .faq_icon{
    transform: rotate(180deg);
}








@media screen and (max-width:375px)
{
    .homepage{
        padding: 30px 20px;
        /* background: url("/abstract-background-illustration-watercolor-blue-green.jpg"); */
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .refer_row{
        display: flex;
        justify-content:space-between;
    }
    .rf_col h3{
        font-size: 50px;
        background: -webkit-linear-gradient(45deg,#fa2424,#fb8721);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700; 
    }
    .rf_col h4{
        font-size:30px;
        background: -webkit-linear-gradient(45deg,#0a3fff,#6cff87b0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        /* margin-bottom: 15px; */
    
    }
    .rf_col2 img{
        width: 600px;
        margin-top: 30px;
        padding: 10px;
        padding-right: 20px;
    }

    .how{
    padding: 20px 10px;
    margin-bottom: 30px;
    /* text-align: center; */
    }
    .titale p{
        /* padding:0 200px ; */
        font-size: 16px;
        /* text-align: center; */
        margin-bottom: 30px;
        color: gray;
    }



}

















